services:
    mongo:
        image: mongo:latest
        container_name: mongo_container
        ports:
            - "27017:27017"
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: example

    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: app_core
        ports:
            - "8000:8000"
        depends_on:
            - mongo
        environment:
            MONGO_URL: mongodb://root:example@mongo:27017/
            S3_ACCESS_KEY_ID: 22BBXDJQDGWOGJ7S83UP
            S3_SECRET_ACCESS_KEY: 2cESIPWRoGIv059PNNuQ9JDrCflFvkUnk9djLAgD
            S3_REGION: eu-east-1
            S3_BUCKET_NAME: gneiss-state
            S3_ENDPOINT_URL: http://s3.internal.wmsdev.pl:7480
            LOG_LEVEL: DEBUG
